<div class="max-w-screen-2xl mx-auto flex justify-center">
    <div class="py-12 px-4 w-1/2 shadow-md">
        <div class="text-center">
            <p class="text-4xl font-medium font-sans">Shopping Cart</p>
        </div>
        <div *ngIf="shoppingItem.length > 0">
            <ul>
                <li *ngFor="let item of shoppingItem; let i=index;">
                    <hr>
                    <div class="flex justify-between py-4">
                        <div class="flex">
                            <div class="w-1/5 shadow-sm rounded-md">
                                <img src="{{ item.img_url }}" alt="">
                            </div>
                            <div class="flex flex-col justify-between px-2">
                                <div>
                                    <div>{{ item.product_name }}</div>
                                    <div>{{ item.product_color }}</div>
                                    <div>{{ item.product_size }}</div>
                                </div>
                                <div class="flex">
                                    <div>
                                        <button (click)="decrease(item.quantity, i)">
                                            <mat-icon class="bg-slate-500 text-white rounded">remove</mat-icon>
                                        </button>
                                    </div>
                                    <div class="w-1/2 text-center px-2">
                                        <span>{{ item.quantity }}</span>
                                    </div>
                                    <div>
                                        <button (click)="increase(item.quantity, i)">
                                            <mat-icon class="bg-slate-500 text-white rounded">add</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-between">
                            <div>
                                {{ item.product_price*item.quantity | currency }}
                            </div>
                            <div>
                                <button (click)="removeItem(item._id, i)" class="text-blue-600 font-medium">Remove</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
        <div class="flex justify-between py-6" *ngIf="shoppingItem.length > 0">
            <div class="">
                <div class="text-lg">Subtotal</div>
                <p class="text-gray-500">Shipping and taxes will be calculated at checkout.</p>
            </div>
            <div class="text-lg">{{ price | currency }}</div>
        </div>
        <!-- <div *ngIf="orderShowMenu">
            <div>Payment Method</div>
            <app-payment></app-payment>
        </div> -->
        <div *ngIf="shoppingItem.length > 0">
            <button class="bg-blue-700 text-white w-full py-2 rounded" (click)="checkout()">
                Checkout
            </button>
        </div>
        <div *ngIf="shoppingItem.length === 0" class="flex justify-center items-center h-96">
            <p>No Items in the cart.</p>
        </div>
    </div>
</div>
