<div class="container">
    <div class="row">
      <div class="col-md-6" id="info">
        <img src="/assets/images/logo.jpg" alt="" style="width:200px; height: 200px;">
        <h2>Adictovibes Ecommerce</h2>
        <p>Subscribe Easy Tutorials Youtube Channel To More Videos</p> <br>
        <a routerLink="" style="color:white; font-size: 20px; border: 1px solid white; padding: 10px;">Home</a> <br> <br>
        <button>About Us</button>
      </div>
      <div class="col-md-6" id="form">
        <h2>Registration</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="email" class="form-control" id="username" formControlName="username" placeholder="Username" required>
              </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email Address" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" required>
            <a routerLink="login">Login here</a>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" [ngClass]="{ 'btn-disabled': loginForm.invalid }">Register</button>
        </form>
      </div>
    </div>
  </div>
  
