.main {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    .header {
        background-color: black;
        display: flex;
        justify-content: space-between;
    
        .logo {
            flex-grow: 3;
        }
    
        .link {
            flex-grow: 1;
    
            .links {
                display: flex;
                color: #fff;
                padding: 60px;
                justify-content: space-between;
                font-size: large;
            }
        }
    
    
        img {
            width: 10vw;
        }
    }
    
    .body {
        flex-grow: 1;
        margin: 10px;
        
        .two-cells {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          
        .cell {
            // background-color: #eee;

            .grid-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, auto);
                grid-gap: 10px;
                padding-top: 100px;
                .grid-item {
                //   background-color: #ddd;
                }
              }
              

            .two-by-two-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                // grid-template-rows: repeat(2, 1fr);
                max-width: 800px;
                // max-height: 800px;
                margin: 0 auto;
              }

              @media only screen and (max-width: 600px) {
                .two-by-two-grid {
                  grid-template-columns: repeat(1, 1fr);
                }
              }
              
              .grid-item {
                // background-color: #eee;
                position: relative;
              }
              
              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.3s ease;
              }
              
              .grid-item:hover .overlay {
                opacity: 1;
              }
              
              a img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              
              .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 24px;
              }
            }              
    }

    .footer {
        background-color: black;
        // flex-grow: 1;
        color: #fff;
        display: flex;
        // justify-content: space-evenly;

        img {
            width: 16vh;
        }

        .logo-1 {
            // flex-grow: 1;
            // border: 1px solid white;
            padding-left: 10vw;
        }

        .info {
            display: flex;
            padding: 20px;
            flex-grow: 2;
            // border: 1px solid white;
            justify-content: space-around;
        }
    }
}