<div class="main">
    <div class="header">
        <div class="logo">
            <img src="/assets/images/logo.jpg" alt="">
        </div>
        <div class="link">
            <div class="links">
                <div class="link-item">Home</div>
                <div class="link-item">Products</div>
                <div class="link-item">New Arrivals</div>
                <div class="link-item">Contact</div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="two-cells">
            <div class="cell">
                <div class="grid-container">
                    <div class="grid-item">
                        T Shirt
                        <ng-image-slider [images]="tShirtimages" [infinite]="false" [autoSlide]="1" #nav></ng-image-slider>
                    </div>
                    <div class="grid-item">
                        Hoodies
                        <ng-image-slider [images]="hoodieImages" [infinite]="false" [autoSlide]="1"></ng-image-slider>
                    </div>
                    <div class="grid-item">
                        Pants
                        <ng-image-slider [images]="pantsImages" [infinite]="false" [autoSlide]="1"></ng-image-slider>
                    </div>
                    <!-- <div class="grid-item">Item 4</div> -->
                </div>
            </div>
            <div class="cell">
              <!-- <p>Cell 2 Content</p> -->
              <div class="two-by-two-grid">
                <div class="grid-item">
                  <a href="#">
                    <img src="https://i5.walmartimages.com/asr/3c0572ee-8ae2-446c-a66a-35c6a67c2e28.5faad6ffa470b22219b1c06cd46abd57.jpeg?odnHeight=450&odnWidth=450&odnBg=ffffff" alt="Image 1">
                    <div class="overlay">
                      <div class="text">Hoodies</div>
                    </div>
                  </a>
                </div>
                <div class="grid-item">
                  <a href="#">
                    <img src="https://www.byrdie.com/thmb/zNiaZ5l-aFdA1t2rlTVJENU52OU=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1397919383-e52cf9fef6d14a92becf5c45c2e22e99.jpg" alt="Image 2">
                    <div class="overlay">
                      <div class="text">Pants</div>
                    </div>
                  </a>
                </div>
                <div class="grid-item">
                  <a href="#">
                    <img src="https://cdn.shopify.com/s/files/1/0249/5699/3587/products/5_1_1aef2493-3f2e-4e72-b151-dc2657c8c1b6_600x.jpg?v=1638253739" alt="Image 3">
                    <div class="overlay">
                      <div class="text">Socks</div>
                    </div>
                  </a>
                </div>
                <div class="grid-item">
                  <a href="#">
                    <img src="https://rukminim1.flixcart.com/image/612/612/l1grgcw0/t-shirt/x/o/5/m-t428hs-tm5p-eyebogler-original-imagdf2egzjxeqgk.jpeg?q=70" alt="Image 4">
                    <div class="overlay">
                      <div class="text">T-Shirt</div>
                    </div>
                  </a>
                </div>
              </div>
              
        </div>
    </div>
    <div class="footer">
        <div class="logo-1">
            <img src="/assets/images/logo.jpg" alt="">
        </div>
        <div class="info">
            <div class="info-item">
                Get in touch <br> <br>
                tanvir.sakline@gmail.com
            </div>
            <div class="info-item">
                Support <br> <br>
                Privacy Policy
            </div>
            <div class="info-item">
                Developed By <br> <br>
                Tanvir Sakline
            </div>
        </div>
    </div>
</div>