<div class="flex flex-col items-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <h1>Login</h1>
    </div>
    <div>
      <input class="border border-black p-1" placeholder="Email" type="email" id="email" formControlName="email">
    </div>
    <div>
      <input class="border border-black mt-4 p-1" placeholder="Password" type="password" id="password" formControlName="password">
    </div>
    <div class="flex justify-center">
      <button type="submit" class="bg-blue-600 text-white px-4 py-1 rounded mt-4 disabled:bg-slate-300" [disabled]="!loginForm.valid">Login</button>
    </div>
  </form>
</div>
