
.container {
    width: 60%;
    height: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #29bcf7;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    padding-right: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    // background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
  
//   button:hover {
//     background-color: #0069d9;
//   }

    button.btn-disabled {
        background-color: #ccc !important;
        cursor: not-allowed;
    }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col-md-6 {
    padding: 20px;
    width: 500px;
    height: 300px;
  }

  #info {
    text-align: center;
    color: white;

    button {
        background-color: white;
        color: #29bcf7;
        width: 100px;
        font-weight: 600;
        margin: 0 auto;
    }
  }

  #form {
    background-color: white;
    color: #29bcf7;

    button {
        background-color: #29bcf7;
        width: 100px;
        font-weight: 600;
    }
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  p {
    font-size: 12px;
    line-height: 1.5;
  }
  
a {
    font-size: 12px;
    text-decoration: none;
    color: #29bcf7;
}